body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	background-color: #1D1F20;
	margin: 0;
}

nav {
    font-weight: bold;
    margin: 20px 0 30px 0;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

.title {
    font-weight: bold;
    color: #EEE;
    text-align: center;
    margin: 60px 20px 50px;
}

.description {
    font-style: italic;
    color: #BBB;
    text-align: center;
    margin-bottom: 50px;
}

.description a {
    color:inherit;
}

a:hover {
    color: #FFF;
}

a.selected {
    text-decoration: underline;
    font-weight: bold;
    color: #EEE;
}

.nav-item {
    margin: 20px;
    font-size: 20px;
    color: #BBB;
    text-decoration: none;
}

.center {
	display: flex;
    justify-content: center;
}

#timestamp {
    margin: 10px;
    font-style: italic;
	color: #BBB;
	font-size: 16px;
}

#chart-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
	width: 90%;
	height: 200%;
}