h1 {
	color: #EAEAEA;
	text-align: center;
	font-family: Arial;
	margin: 60px 20px 100px;
}

body {
	background-color: #1D1F20;
	margin: 0;
}

nav {
    margin: 20px 0 30px 0;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

a.selected {
    text-decoration: underline;
    font-weight: bold;
    color: #EAEAEA;
}

.nav-item {
    margin: 20px;
    font-size: 20px;
    color: #CACACA;
    font-family: Helvetica;
    text-decoration: none;
}

.center {
	display: flex;
    justify-content: center;
}

#timestamp {
    margin: 10px;
	color: #DADADA;
	font-size: 16px;
	font-weight: light;
	font-family: Roboto;
}

#chart-container {
    margin: auto;
    margin-top: 20px;
	width: 90%;
	height: 200%;
}