h1 {
	color: #FAFAFA;
	text-align: center;
	font-family: "Helvetica";
	margin: 8vh 4vw 8vh;
}

body {
	background-color: #1D1F20;
	margin: 0;
}

.dataset-timestamp {
	text-align: center;
	color: #FAFAFA;
	text-align: center;
	font-family: "Helvetica";
}

.chart-container {
	margin: 0vh 8vw 8vh;
}